repos:
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/pylint
    rev: v2.16.3
    hooks:
    -   id: pylint
        args:
          - --ignore-paths=^tests/.*$
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [ commit-msg ]