[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-bdd = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-cov = "*"
pytest-pspec = "*"
pytest-mock = "~=3.6.1"
pytest-describe = "*"
pytest-watch = "*"
python-semantic-release = "*"
commitizen = "*"
flake8 = "*"
black = "*"
pylint = "*"
mypy = "*"
pre-commit = "*"
weasyprint = "*"

[packages]
rich = "*"
setuptools = "*"
requests = "*"
html-to-json = "*"
dockerfile-parse = "*"
wget = "*"
semver = "*"
sshpubkeys = "*"
seleniumbase = "*"
jsonpath-ng = "*"
click = "*"
update = "*"
inquirer = "*"
typing-extensions = "*"

[requires]
python_version = "3.11"

[scripts]
UnitTests = "pytest tests/unit --pspec --tb=long -l"
IntegrationTests = "pytest tests/integration --pspec --tb=long -l"
E2ETests = "pytest tests/e2e --pspec --tb=long -l"
ReleaseTests = "pytest tests/release --pspec --tb=long -l"
ABTests = "pytest tests/ab --pspec --tb=long -l"
tests = "pytest tests/unit tests/integration tests/e2e tests/release --pspec --tb=long -l"
coverage = "pytest tests/unit tests/integration tests/e2e tests/release -q --tb=no --no-header --cov-report term --cov='.' --cache-clear --rootdir='.'"
coverageHtml = "pytest tests/unit tests/integration tests/e2e tests/release --pspec --tb=long -l --cov-report html:reports/coverage --cov='.' --html=reports/test-report.html --self-contained-html --cache-clear --rootdir='.'"
coveragePdf = "weasyprint reports/test-report.html reports/test-report.pdf"
coverageDevOps = "pytest tests/unit tests/integration tests/e2e tests/release --pspec --junitxml=junit/test-result.xml --cov-report=xml --cov-report=html:reports/coverage --cov='.' --html=reports/test-report.html --self-contained-html --tb=long -l --cache-clear --rootdir='.'"
watchUnit = "ptw tests/unit -- --tb=short"
watchIntegration = "ptw tests/integration -- --tb=short"
watchE2E = "ptw tests/e2e -- --tb=short"
install_pre_hooks = "pre-commit install"
linterCheck = "pylint -f msvs modules"
forceTypingExtensions = "python -m pip install typing-extensions"
