[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-bdd = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-cov = "*"
pytest-pspec = "*"
pytest-mock = "~=3.6.1"
pytest-describe = "*"
pytest-watch = "*"
pylint = "*"
commitizen = "*"
python-semantic-release = "*"

[packages]
rich = "*"
pre-commit = "*"
setuptools = "*"
requests = "*"
html-to-json = "*"
dockerfile-parse = "*"
wget = "*"
semver = "*"
sshpubkeys = "*"
seleniumbase = "*"
jsonpath-ng = "*"
click = "*"
update = "*"
inquirer = "*"

[requires]
python_version = "3"

[scripts]
UnitTests = "pytest tests/unit --tb=long -l"
IntegrationTests = "pytest tests/integration --tb=long -l"
E2ETests = "pytest tests/e2e --tb=long -l"
ReleaseTests = "pytest tests/release --tb=long -l"
ABTests = "pytest tests/ab --tb=long -l"
tests = "pytest tests/unit tests/integration tests/e2e tests/release --tb=long -l"
coverage = "pytest tests/unit tests/integration tests/e2e tests/release  --cov-report term --cov='.' --cache-clear --rootdir='.'"
coverageHtml = "pytest tests/unit tests/integration tests/e2e tests/release --cov-report html --cov='.'"
coverageAzureDevOps = "pytest tests/unit tests/integration tests/e2e tests/release --junitxml=junit/test-result.xml --cov-report=xml --cov-report=html --cov='.'  --tb=long -l --cache-clear --rootdir='.'"
watchUnit = "ptw tests/unit -- --cov-report term --cov='.' --tb=long -l"
watchIntegration = "ptw tests/integration -- --cov-report term --cov='.' --tb=long -l"
install_pre_hooks = "pre-commit install"
linterCheck = "pylint -f msvs modules"
